# Planejamento da Solução (IOT)

- Input (Entrada).
    a - Problema de Negocio
    b - Questões que serão respondidas
    c - Dados de entrada / Fonte  de Dados
    
- Output( Saída ).
    a - Anásile de dados
    b - Algoritmo de Machine Learning treinado
    c - Dashboard
    
- Tasks (Tarefas).
    a - Plano de Execução
    b - Ferramentas

# PA005 : High Value Customer Identification (Insiders)

## 0.0. Planejamento da solução (IOT)

### Input - Entrada

1. Problema de Negócio
    - Selecionar os clientes mais valiosos para integrar um programa de Fidelização
    
2. Conjunto de dados
    - Vendas de um e-commerce online, durante o periodo de um ano.

### Output - Saída

1. A indicação das pessoas que farão parte do programa de Insiders
 - Lista:   client_id | is_insider|
    
               10323 | yes/1
               32413 | no/0

### Tasks - Tarefas

1. Quem são as pessoas elegíveis para participar do programa de Insiders ?
    - O que é ser elegivel? O que são clientes de maior "Valor".
        
        - Faturamento
        
            - Alto Ticket Médio
            - Alto LTV ( Life time value )
            - Baixa Recência
            - Alto basket size
            - Baixa probabilidade de churn.
            - Previsão de LTV
            - Alta propensão de compra.
            
        - Custo
        
            - Baixo taxa de devolução
            
        - Experiência de compra
        
            - Média alta das avaliações
    
2. Quantos Clientes farão parte do grupo ?
    - Número total de clientes
    - % de Insiders
    
3. Quais as principais caracteristicas desses clientes ?
    - Escrever caracteristivas do cliente
    
        - Idade
        - Localização
        
    - Escrever caracteristicas de consumo
    
        - Atributos da clusterização
        
4. Qual a porcentagem de contribuição do faturamento desse grupo para os proximos mese ?
    - Faturamento total do ano
    - Faturamento do grupo Insiders
    
5. Qual a expectativa de faturamento desse grupo para os proximos meses ?
    - LTV do grupo Insiders
    - Analise de Cohort
    
6. Quais as condições para uma pessoa ser elegivel ao Insiders ?
    - Definir a periodicidade (1 mes, 3 meses)
    - A pessoa precisa ser similar ou pareceido com uma pessoa do grupo.
    
7. Quais as condições para uma pessoa ser removida do Insiders ?
    - Definir a periodicidade (1 mes, 3 meses)
    - A pessoa precisa ser desimilar ou não pareceido com uma pessoa do grupo.
    
8. Qual a garantia que o programa Insiders é melhor que o restante da base?
    - Teste A/B
    - Teste A/B Bayesiano
    - Teste de hipóteses.
    
9. Quais ações o time de marketing pode realizar para aumentar o faturamento?
    - Desconto
    - Preferencia de compra
    - Frete
    - Visista a empresa

# <font color='red'> 1.0. Imports </font>

In [78]:
import numpy as np
import pandas as pd
import seaborn as sns
import inflection
import warnings

from sklearn import cluster as c
from matplotlib import pyplot as plt
from IPython.display import HTML

## 0.1. Help Functions

In [31]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()
warnings.filterwarnings( 'ignore' )

## 0.2 Load Dataset

In [9]:
df_raw = pd.read_csv('Ecommerce.csv',encoding='unicode_escape')

In [10]:
df_raw

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Unnamed: 8
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,7-Dec-17,0.85,12680.0,France,NaN
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,7-Dec-17,2.10,12680.0,France,NaN
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,7-Dec-17,4.15,12680.0,France,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,7-Dec-17,4.15,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,7-Dec-17,4.95,12680.0,France,NaN

In [12]:
#Excluindo a coluna unnamed
df_raw.drop(columns=['Unnamed: 8'], axis=1, inplace=True)

# <font color='red'> 2.0. Descrição dos dados. </font>

In [18]:
df1 = df_raw.copy()

## 2.1. Rename Columns

In [19]:
df_raw.columns

Index(['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'customer_id', 'country'],
      dtype='object')

In [20]:
cols_old = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate','UnitPrice', 'CustomerID', 'Country']

snakecase = lambda x: inflection.underscore( x )

cols_new = list( map( snakecase, cols_old ) )

# rename
df1.columns = cols_new

In [21]:
df1.sample()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
239245,558035,48188,DOORMAT WELCOME PUPPIES,2,22-Jun-17,7.95,15258.0,United Kingdom

## 2.2. Data Dimensions

In [24]:
print(f'Numero de linhas: {df1.shape[0]}')
print(f'Numero de colunas: {df1.shape[1]}')

Numero de linhas: 541909
Numero de colunas: 8

## 2.3. Data types

In [25]:
df1.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id     float64
country          object
dtype: object

In [26]:
df1.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom

## 2.4. Check NA

In [35]:
df1.isna().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

## 2.5. Replace NA

In [42]:
df1 = df1.dropna(subset=['description', 'customer_id'])

print(f'{ (1 -df1.shape[0]/ df_raw.shape[0]) * 100:.2f} % dos dados foram removidos')

24.93 % dos dados foram removidos

In [43]:
df1.isna().sum()

invoice_no      0
stock_code      0
description     0
quantity        0
invoice_date    0
unit_price      0
customer_id     0
country         0
dtype: int64

## 2.6. Change dtypes

In [45]:
#invoice_date
df1['invoice_date'] = pd.to_datetime(df1['invoice_date'], format='%d-%b-%y')
df1.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2016-11-29,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2016-11-29,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2016-11-29,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2016-11-29,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2016-11-29,3.39,17850.0,United Kingdom

In [46]:
#customer_id
df1['customer_id'] = df1['customer_id'].astype(int)
df1.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2016-11-29,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2016-11-29,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2016-11-29,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2016-11-29,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2016-11-29,3.39,17850,United Kingdom

In [47]:
df1.dtypes

invoice_no              object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
customer_id              int32
country                 object
dtype: object

## 2.7. Descriptive Statistics

# <font color='red'> 3.0. Feature Enginering </font>

In [48]:
df2 = df1.copy()

## 3.1. Feature Creation

In [53]:
df_ref = df2[['customer_id']].drop_duplicates(ignore_index=True)
df_ref.head()

   customer_id
0        17850
1        13047
2        12583
3        13748
4        15100

In [59]:
#Faturamento = Quantity * price
df2['gross_revenue'] = df2['quantity'] * df2['unit_price']


#Monetary
df2[['customer_id', 'gross_revenue']].head()


df_monetary = df2[['customer_id', 'gross_revenue']].groupby('customer_id').sum().reset_index()

#merge com o df_ref

df_ref = pd.merge(df_ref, df_monetary, on='customer_id', how='left')
df_ref.head()

   customer_id  gross_revenue
0        17850        5288.63
1        13047        3079.10
2        12583        7187.34
3        13748         948.25
4        15100         635.10

In [62]:
#Recency
df_recency = df2[['customer_id', 'invoice_date']].groupby('customer_id').max().reset_index()
df_recency['recency_days'] = (df2['invoice_date'].max() - df_recency['invoice_date']).dt.days
df_recency = df_recency[['customer_id', 'recency_days']].copy()


df_ref = pd.merge(df_ref, df_recency, on='customer_id', how='left')
df_ref.head()

   customer_id  gross_revenue  recency_days
0        17850        5288.63           302
1        13047        3079.10            31
2        12583        7187.34             2
3        13748         948.25            95
4        15100         635.10           330

In [64]:
#Frequency

df2[['customer_id', 'invoice_no']].head()

   customer_id invoice_no
0        17850     536365
1        17850     536365
2        17850     536365
3        17850     536365
4        17850     536365

In [66]:
df2[['customer_id', 'invoice_no']].drop_duplicates().head()

    customer_id invoice_no
0         17850     536365
7         17850     536366
9         13047     536367
21        13047     536368
25        13047     536369

In [69]:
df_frequency = df2[['customer_id', 'invoice_no']].drop_duplicates().groupby('customer_id').count().reset_index()
df_frequency.head()

   customer_id  invoice_no
0        12346           2
1        12347           7
2        12348           4
3        12349           1
4        12350           1

In [70]:
df_ref = pd.merge(df_ref, df_frequency, on='customer_id', how='left')
df_ref.head()

   customer_id  gross_revenue  recency_days  invoice_no
0        17850        5288.63           302          35
1        13047        3079.10            31          18
2        12583        7187.34             2          18
3        13748         948.25            95           5
4        15100         635.10           330           6

# <font color='red'> 4.0. Filtragem de Variáveis </font>

In [72]:
df3 = df_ref.copy()

# <font color='red'> 5.0. EDA </font>

In [73]:
df4 = df3.copy()

# <font color='red'> 6.0. Data Preparation </font>

In [74]:
df5 = df4.copy()

# <font color='red'> 7.0. Feature Selection </font>

In [75]:
df6 = df5.copy()

# <font color='red'> 8.0. Hyperparameter Fine-Tunning </font>

In [77]:
X = df6.drop(columns = ['customer_id'])

In [ ]:
clusters = [2, 3, 4, 5, 6]

## 8.1. Within-Cluster Sum of Square (WSS)

In [ ]:
wss = []
for k in clusters:
    #model definition
    KMeans( init='random', n_clusters=k, n_init=10, max_iter=300, random_state=42)
    
    #model training
    kmeans.fit(X)
    
    #validation
    wss.append(kmeans.inertia_)
    
#plot wss
plt.plot

# <font color='red'> 9.0. Model Training </font>

In [2]:
# <font color='red'> 7.0. Feature Selection </font>