## <font color= 'red'> Ciclo 00 - Planejamento - Metodo IOT

## <font color= 'red'> Ciclo 01 - Métricas de Validação de Clusters

1. Feature Engineering
    - Recencia
    - Frequencia
    - Monetização
    
    
2. Métricas de validação de Clustering
    - WSS (Within - Cluster Sum od Squate)
    - SS (Silhouette Score)
    
    
3. Cluster Analysis
    - Plot 3d
    - Cluster Profile

## <font color= 'red'> Ciclo 02 - Analise de Silhouette

1. Feature Engineering
    - Average Ticket
    
    
2. Análise de Silhouette
    - Silhouette Analysis
    
    
3. Cluster Visualization
    - UMAP
    
    
4. Cluster Analise de Perfil
    - Descrição dos Centróides

## <font color= 'red'> Ciclo 03 - Statistical Descriptive

1. Análise Descritiva
    - Atributos numéricos
    - Atributos categóricos
    
    
2. Feature Engineering
    - Avarege Recency
    - Number of Returns
    
    
3. Data Preparation
    - Standard Scaler

# Planejamento da Solução (IOT)

###### - Input (Entrada).
    a - Problema de Negocio
    b - Questões que serão respondidas
    c - Dados de entrada / Fonte  de Dados
    
###### - Output( Saída ).
    a - Anásile de dados
    b - Algoritmo de Machine Learning treinado
    c - Dashboard
    
###### - Tasks (Tarefas).
    a - Plano de Execução
    b - Ferramentas

# PA005 : High Value Customer Identification (Insiders)

## 0.0. Planejamento da solução (IOT)

### Input - Entrada

1. Problema de Negócio
    - Selecionar os clientes mais valiosos para integrar um programa de Fidelização
    
2. Conjunto de dados
    - Vendas de um e-commerce online, durante o periodo de um ano.

### Output - Saída

1. A indicação das pessoas que farão parte do programa de Insiders
 - Lista:   client_id | is_insider|
    
               10323 | yes/1
               32413 | no/0

### Tasks - Tarefas

1. Quem são as pessoas elegíveis para participar do programa de Insiders ?
    - O que é ser elegivel? O que são clientes de maior "Valor".
        
        - Faturamento
        
            - Alto Ticket Médio
            - Alto LTV ( Life time value )
            - Baixa Recência
            - Alto basket size
            - Baixa probabilidade de churn.
            - Previsão de LTV
            - Alta propensão de compra.
            
        - Custo
        
            - Baixo taxa de devolução
            
        - Experiência de compra
        
            - Média alta das avaliações
    
2. Quantos Clientes farão parte do grupo ?
    - Número total de clientes
    - % de Insiders
    
3. Quais as principais caracteristicas desses clientes ?
    - Escrever caracteristivas do cliente
    
        - Idade
        - Localização
        
    - Escrever caracteristicas de consumo
    
        - Atributos da clusterização
        
4. Qual a porcentagem de contribuição do faturamento desse grupo para os proximos mese ?
    - Faturamento total do ano
    - Faturamento do grupo Insiders
    
5. Qual a expectativa de faturamento desse grupo para os proximos meses ?
    - LTV do grupo Insiders
    - Analise de Cohort
    
6. Quais as condições para uma pessoa ser elegivel ao Insiders ?
    - Definir a periodicidade (1 mes, 3 meses)
    - A pessoa precisa ser similar ou pareceido com uma pessoa do grupo.
    
7. Quais as condições para uma pessoa ser removida do Insiders ?
    - Definir a periodicidade (1 mes, 3 meses)
    - A pessoa precisa ser desimilar ou não pareceido com uma pessoa do grupo.
    
8. Qual a garantia que o programa Insiders é melhor que o restante da base?
    - Teste A/B
    - Teste A/B Bayesiano
    - Teste de hipóteses.
    
9. Quais ações o time de marketing pode realizar para aumentar o faturamento?
    - Desconto
    - Preferencia de compra
    - Frete
    - Visista a empresa

# <font color='red'> 1.0. Imports </font>

In [29]:
import pandas as pd
import seaborn as sns
import inflection
import warnings
import regex as re


#import umap.umap_ as umap
from sklearn import cluster as c
from matplotlib import pyplot as plt
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer
from IPython.display import HTML
from sklearn import metrics as m

from plotly import express as px

## 0.1. Help Functions

In [2]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()
warnings.filterwarnings( 'ignore' )

## 0.2 Load Dataset

In [3]:
df_raw = pd.read_csv('Ecommerce.csv',encoding='unicode_escape')

In [4]:
df_raw

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Unnamed: 8
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,7-Dec-17,0.85,12680.0,France,NaN
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,7-Dec-17,2.10,12680.0,France,NaN
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,7-Dec-17,4.15,12680.0,France,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,7-Dec-17,4.15,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,7-Dec-17,4.95,12680.0,France,NaN

In [5]:
#Excluindo a coluna unnamed
df_raw.drop(columns=['Unnamed: 8'], axis=1, inplace=True)

# <font color='red'> 2.0. Descrição dos dados. </font>

In [6]:
df1 = df_raw.copy()

## 2.1. Rename Columns

In [7]:
df_raw.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [8]:
cols_old = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate','UnitPrice', 'CustomerID', 'Country']

snakecase = lambda x: inflection.underscore( x )

cols_new = list( map( snakecase, cols_old ) )

# rename
df1.columns = cols_new

In [9]:
df1.sample()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
118150,546423,21774,DECORATIVE CATS BATHROOM BOTTLE,1,11-Mar-17,1.25,14502.0,United Kingdom

## 2.2. Data Dimensions

In [10]:
print(f'Numero de linhas: {df1.shape[0]}')
print(f'Numero de colunas: {df1.shape[1]}')

Numero de linhas: 541909
Numero de colunas: 8

## 2.3. Data types

In [11]:
df1.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id     float64
country          object
dtype: object

In [12]:
df1.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom

## 2.4. Check NA

In [13]:
df1.isna().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

## 2.5. Replace NA

In [14]:
df1 = df1.dropna(subset=['description', 'customer_id'])

print(f'{ (1 -df1.shape[0]/ df_raw.shape[0]) * 100:.2f} % dos dados foram removidos')

24.93 % dos dados foram removidos

In [15]:
df1.isna().sum()

invoice_no      0
stock_code      0
description     0
quantity        0
invoice_date    0
unit_price      0
customer_id     0
country         0
dtype: int64

## 2.6. Change dtypes

In [16]:
#invoice_date
df1['invoice_date'] = pd.to_datetime(df1['invoice_date'], format='%d-%b-%y')
df1.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2016-11-29,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2016-11-29,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2016-11-29,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2016-11-29,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2016-11-29,3.39,17850.0,United Kingdom

In [17]:
#customer_id
df1['customer_id'] = df1['customer_id'].astype(int)
df1.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2016-11-29,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2016-11-29,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2016-11-29,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2016-11-29,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2016-11-29,3.39,17850,United Kingdom

In [18]:
df1.dtypes

invoice_no              object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
customer_id              int32
country                 object
dtype: object

## 2.7. Descriptive Statistics

### 2.7.1 Numerical attributs

In [52]:
num_atributes = df1.select_dtypes(include=['int64', 'float64'])

cat_atributes = df1.select_dtypes(exclude=['int64', 'float64', 'datetime64[ns]'])

In [53]:
# central tendency - mean, median
ct1 = pd.DataFrame(num_atributes.apply(np.mean)).T
ct2 = pd.DataFrame(num_atributes.apply(np.median)).T

#dispersion - desvio padrão, minimo, range, skew, kurtosis
d1 = pd.DataFrame(num_atributes.apply(np.std)).T
d2 = pd.DataFrame(num_atributes.apply(np.min)).T
d3 = pd.DataFrame(num_atributes.apply(np.max)).T
d4 = pd.DataFrame(num_atributes.apply(lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_atributes.apply(lambda x: x.skew())).T
d6 = pd.DataFrame(num_atributes.apply(lambda x: x.kurtosis())).T


#concatenate
m = pd.concat([d2, d3, d4, ct1, ct2, d2, d5, d6]).T.reset_index()
m.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']

In [54]:
m

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,quantity,-80995.0,80995.0,161990.0,12.061303,5.00,-80995.0,0.182663,94317.563673
1,unit_price,0.0,38970.0,38970.0,3.460471,1.95,0.0,452.219019,246924.542988

#### 2.7.1.1 Numerical attributs investigating

- Podemos ver que na quantida temos um valor negativo (**pode ser devolução**)
- Quantidade máxima, temos uma pessoa que comprou 80995 produtos
- Valor unitário, temos o valor de 0

In [26]:
cat_atributes.head()

   quantity invoice_date  unit_price
0         6   2016-11-29        2.55
1         6   2016-11-29        3.39
2         8   2016-11-29        2.75
3         6   2016-11-29        3.39
4         6   2016-11-29        3.39

In [33]:
#invoice number

len(df1.loc[df1['invoice_no'].apply(lambda x: bool(re.search('[^0-9]+', x))), 'invoice_no'].drop_duplicates())

3654

In [37]:
#stock Code
#len(df1.loc[df1['stock_code'].apply(lambda x: bool(re.search('[^0-9]+', x))), 'stock_code'].drop_duplicates())

df1.loc[df1['stock_code'].apply(lambda x: bool(re.search('^[a-zA-Z]+$', x))), :].head(20)

['POST' 'D' 'M' 'PADS' 'DOT' 'CRUK']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
45,536370,POST,POSTAGE,3,2016-11-29,18.00,12583,France
141,C536379,D,Discount,-1,2016-11-29,27.50,14527,United Kingdom
386,536403,POST,POSTAGE,1,2016-11-29,15.00,12791,Netherlands
1123,536527,POST,POSTAGE,1,2016-11-29,18.00,12662,Germany
2239,536569,M,Manual,1,2016-11-29,1.25,16274,United Kingdom
2250,536569,M,Manual,1,2016-11-29,18.95,16274,United Kingdom
5073,536840,POST,POSTAGE,1,2016-11-30,18.00,12738,Germany
5258,536852,POST,POSTAGE,1,2016-12-01,18.00,12686,France
5325,536858,POST,POSTAGE,2,2016-12-01,40.00,13520,Switzerland
5369,536861,POST,POSTAGE,3,2016-12-01,18.00,12427,Germany
6602,536967,POST,POSTAGE,1,2016-12-01,18.00,12600,Germany
6676,536974,POST,POSTAGE,2,2016-12-01,18.00,12682,France
6798,536981,M,Manual,2,2016-12-01,0.85,14723,United Kingdom
6973,536983,POST,POSTAGE,1,2016-12-01,18.00,12712,Germany
7139,536990,POST,POSTAGE,1,2016-12-01,28.00,12793,Portugal
7237,537022,POST,POSTAGE,2,2016-12-01,28.00,12725,Italy
7290,537026,POST,POSTAGE,2,2016-12-01,18.00,12395,Belgium
7953,537065,POST,POSTAGE,9,2016-12-03,18.00,12567,France
7976,537077,M,Manual,12,2016-12-03,0.42,17062,United Kingdom
8530,537137,M,Manual,36,2016-12-03,0.85,16327,United Kingdom

### 2.7.2. Categorical Attributes

##### invoice_no

In [51]:
# problema: Temos invoice_no com letras e numeros

df_letter_invoice = df1.loc[df1['invoice_no'].apply(lambda x: bool(re.search('[^0-9]+', x))), :]
df_letter_invoice.head()

print(f'Total number of invoices: {len(df_letter_invoice)}')
print(f'Total number of negative quantity: {len(df_letter_invoice.query("quantity < 0"))}')

Total number of invoices: 8905
Total number of negative quantity: 8905

##### stock_code

In [55]:
# check stock code only characters

print(df1.loc[df1['stock_code'].apply(lambda x: bool(re.search('^[a-zA-Z]+$', x))), 'stock_code'].unique())
#sotck_code != [post, D, M, DOT, CRUK]

['POST' 'D' 'M' 'PADS' 'DOT' 'CRUK']

##### Descripition

##### Country

In [57]:
df1['country'].value_counts(normalize=True)

United Kingdom          0.889509
Germany                 0.023339
France                  0.020871
EIRE                    0.018398
Spain                   0.006226
Netherlands             0.005828
Belgium                 0.005086
Switzerland             0.004614
Portugal                0.003638
Australia               0.003095
Norway                  0.002669
Italy                   0.001974
Channel Islands         0.001863
Finland                 0.001708
Cyprus                  0.001529
Sweden                  0.001136
Austria                 0.000986
Denmark                 0.000956
Japan                   0.000880
Poland                  0.000838
USA                     0.000715
Israel                  0.000615
Unspecified             0.000600
Singapore               0.000563
Iceland                 0.000447
Canada                  0.000371
Greece                  0.000359
Malta                   0.000312
United Arab Emirates    0.000167
European Community      0.000150
RSA                     0.000143
Lebanon                 0.000111
Lithuania               0.000086
Brazil                  0.000079
Czech Republic          0.000074
Bahrain                 0.000042
Saudi Arabia            0.000025
Name: country, dtype: float64

# <font color='red'> 3.0. Filtragem de Variáveis </font>

In [66]:
df2 = df1.copy()

#### Numerical Attributes

In [67]:
df2 = df2.loc[df2['unit_price'] >= 0.04, :]

#### Categorical Attributes

In [68]:
#sotck_code != [post, D, M, DOT, CRUK]

df2 = df2[~df2['stock_code'].isin(['POST','M', 'D', 'DOT', 'CRUK', 'C2'])]

In [69]:
#Descripition
df2= df2.drop(columns='description', axis=1)

In [70]:
#Country
df2 = df2[~df2['country'].isin(['European Community', 'Unspecified'])]

In [71]:
df2_returns = df2.loc[df2['quantity'] < 0, :]
df2_purchases = df2.loc[df2['quantity'] >= 0, :]

# <font color='red'> 4.0. Feature Enginering </font>

## 4.1. Feature Creation

In [72]:
df2

,invoice_no,stock_code,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,6,2016-11-29,2.55,17850,United Kingdom
1,536365,71053,6,2016-11-29,3.39,17850,United Kingdom
2,536365,84406B,8,2016-11-29,2.75,17850,United Kingdom
3,536365,84029G,6,2016-11-29,3.39,17850,United Kingdom
4,536365,84029E,6,2016-11-29,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...
541904,581587,22613,12,2017-12-07,0.85,12680,France
541905,581587,22899,6,2017-12-07,2.10,12680,France
541906,581587,23254,4,2017-12-07,4.15,12680,France
541907,581587,23255,4,2017-12-07,4.15,12680,France
541908,581587,22138,3,2017-12-07,4.95,12680,France

In [73]:
df_ref = df2[['customer_id']].drop_duplicates(ignore_index=True)
df_ref.head()

   customer_id
0        17850
1        13047
2        12583
3        13748
4        15100

##### Faturamento

In [74]:
#Faturamento = Quantity * price
df2_purchases['gross_revenue'] = df2_purchases['quantity'] * df2_purchases['unit_price']


#Monetary
df2_purchases[['customer_id', 'gross_revenue']].head()


df_monetary = df2_purchases[['customer_id', 'gross_revenue']].groupby('customer_id').sum().reset_index()

#merge com o df_ref

df_ref = pd.merge(df_ref, df_monetary, on='customer_id', how='left')
df_ref.head()

   customer_id  gross_revenue
0        17850        5391.21
1        13047        3232.59
2        12583        6705.38
3        13748         948.25
4        15100         876.00

### Recency

In [ ]:
#Recency
df_recency = df2[['customer_id', 'invoice_date']].groupby('customer_id').max().reset_index()
df_recency['recency_days'] = (df2['invoice_date'].max() - df_recency['invoice_date']).dt.days
df_recency = df_recency[['customer_id', 'recency_days']].copy()


df_ref = pd.merge(df_ref, df_recency, on='customer_id', how='left')
df_ref.head()

### Frequency

In [ ]:
#Frequency

df2[['customer_id', 'invoice_no']].head()

In [ ]:
df2[['customer_id', 'invoice_no']].drop_duplicates().head()

In [ ]:
df_frequency = df2[['customer_id', 'invoice_no']].drop_duplicates().groupby('customer_id').count().reset_index()
df_frequency.head()

In [ ]:
df_ref = pd.merge(df_ref, df_frequency, on='customer_id', how='left')
df_ref.head()

### AVG Ticket

In [ ]:
df_avg_ticket = df2[['customer_id', 'gross_revenue']].groupby('customer_id').mean().reset_index().rename(columns={'gross_revenue' : 'avg_ticket'})
df_avg_ticket.head()

In [ ]:
df_ref = pd.merge(df_ref, df_avg_ticket, on='customer_id', how='left')
df_ref.head()

In [ ]:
df3 = df_ref.copy()

# <font color='red'> 5.0. EDA </font>

In [ ]:
df4 = df3.copy()

# <font color='red'> 6.0. Data Preparation </font>

In [ ]:
df5 = df4.copy()

# <font color='red'> 7.0. Feature Selection </font>

In [ ]:
df6 = df5.copy()

# <font color='red'> 8.0. Hyperparameter Fine-Tunning </font>

In [ ]:
X = df6.drop(columns = ['customer_id'])

In [ ]:
clusters = [2, 3, 4, 5, 6, 7]

## 8.1. Within-Cluster Sum of Square (WSS)

In [ ]:
wss = []
for k in clusters:
    #model definition
    kmeans = c.KMeans( init='random', n_clusters=k, n_init=10, max_iter=300, random_state=42)
    
    #model training
    kmeans.fit(X)
    
    #validation
    wss.append(kmeans.inertia_)
    
#plot wss
plt.plot(clusters, wss, linestyle='--', marker='o', color='b')
plt.xlabel('k')
plt.ylabel('Within-Cluster Sum of Square')
plt.title('WSS vs K')

In [ ]:
kmeans = KElbowVisualizer(c.KMeans(), k=clusters, timings=False)
kmeans.fit(X)
kmeans.show();

## 8.2. Silhouette Analysis

In [ ]:
fig, ax = plt.subplots(3,2, figsize=(25, 18))
for k in clusters:
    km = c.KMeans(n_clusters=k, init='random', n_init=10, max_iter=100, random_state=42)
    q, mod = divmod(k, 2)
    
    visualizer = SilhouetteVisualizer(km, color= 'yellowbrick', ax=ax[q-1][mod])
    visualizer.fit(X)
    visualizer.finalize()

# <font color='red'> 9.0. Model Training </font>

## 9.1. K-Means

In [ ]:
# Model Definition
k = 4
kmeans = c.KMeans(init='random',n_clusters=k, n_init=10, max_iter=300, random_state=42)

#model training
kmeans.fit(X)

#clustering
labels = kmeans.labels_

## 9.2. Cluster Validation

In [ ]:
# WSS
print(f'WSS values: {kmeans.inertia_}')
print(f"SS value: {m.silhouette_score(X, labels, metric='euclidean')}")

# <font color='red'> 10.0. Cluster Analysis </font>

In [ ]:
df10 = df6.copy()
df10['cluster'] = labels
df10.head()

## 10.1. Visualization Inspection

In [ ]:
#fig = px.scatter_3d(df10, x= 'recency_days', y='invoice_no', z='gross_revenue', color='cluster')
#fig.show()

## 10.1. Visualization Inspection

In [ ]:
visualizer = SilhouetteVisualizer(kmeans, colors='yellowbrick')
visualizer.fit(X)
visualizer.finalize()

## 10.2. 2d plot

In [ ]:
df_viz = df10.drop (columns='customer_id')
sns.pairplot(df_viz, hue='cluster')

## 10.3. UMAP - t-SNE

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=2)
pca.fit(X)

In [ ]:
embedding=pca.fit_transform(X)
df_viz['embedding_x'] = embedding[:,0]
df_viz['embedding_y'] = embedding[:,1]

In [ ]:
df_viz

In [ ]:
#reducer = UMAP(random_state=42)
#embedding = reducer.fit_transform(x)

#embedding
#df_viz['embedding_x'] = embedding[:,0]
#df_viz['embedding_y'] = embedding[:,1]

#plot UMAP

sns.scatterplot(x='embedding_x', y='embedding_y', 
                hue='cluster', 
                palette=sns.color_palette('hls', n_colors=len(df_viz['cluster'].unique())), 
                data = df_viz)

In [ ]:
from sklearn.manifold import TSNE



tsne = TSNE(n_components=2, random_state=42)
embedding = tsne.fit_transform(X )
df_viz['embedding_x2'] = embedding[:,0]
df_viz['embedding_y2'] = embedding[:,1]
sns.scatterplot(x='embedding_x2', y='embedding_y2', 
                hue='cluster', 
                palette=sns.color_palette('hls', n_colors=len(df_viz['cluster'].unique())), 
                data = df_viz)

## 10.2. Cluster Profile

In [ ]:
# Number of Cluster
df_cluster = df10[['customer_id', 'cluster']].groupby('cluster').count().reset_index()
df_cluster['perc_customer'] = 100* (df_cluster['customer_id'] / df_cluster['customer_id'].sum()).round(4)

# AVG Gross Revenue
df_avg_gross = df10[['gross_revenue', 'cluster']].groupby('cluster').mean().reset_index().round(4)
df_cluster = pd.merge(df_cluster, df_avg_gross, how='inner', on='cluster')

#AVG recency days
df_recency = df10[['recency_days', 'cluster']].groupby('cluster').mean().reset_index().round(4)
df_cluster = pd.merge(df_cluster, df_recency, how='inner', on='cluster')

#invoice
df_invoice = df10[['invoice_no', 'cluster']].groupby('cluster').mean().reset_index().round(4)
df_cluster = pd.merge(df_cluster, df_invoice, how='inner', on='cluster')

#AVG_ticket
df_ticket = df10[['avg_ticket', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_ticket, how='inner', on='cluster')

In [ ]:
df_cluster.head()

## Cluster 01 : (Candidato a Insider)
    - Número de customers :6 (0.14% do customers)
    - Recência em média :  7 dias
    - Compras em média :  89 compras
    - Receita em média : $182.182,00 dolares

## Cluster 01 : (Candidato a Insider)
    - Número de customers : 31 (0.7% do customers)
    - Recência em média : 14 dias
    - Compras em média : 53 compras
    - Receita em média : $40.543,52 dolares
    
## Cluster 01 : (Candidato a Insider)
    - Número de customers : 4.335 (99% do customers)
    - Recência em média : 92 dias
    - Compras em média : 5 compras
    - Receita em média : $ 1.372,57 dolares